@font-face {
    font-family: 'Manrope semi-bold';
    src: url(./fonts/Manrope.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope bold';
    src: url(./fonts/Manrope.ttf);
    font-weight: 700;
    font-style: normal;
}

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --font-size: 13px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: var(--font-size);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grayish-blue);
    
}

.myBody {
    max-width: 375px;
    background-color: white;
    font-family: 'Manrope semi-bold';
    border-radius: 8px;
    display: grid;
    grid-template-areas: "image"
                         "body"
                         "share";
    
}

.myHeaderDiv {
    background: url(./images/drawers.jpg) no-repeat;
    border-radius: 12px 12px 0 0;
    width: 375px;
    height: 245px;
    overflow: hidden;
    grid-area: image;
}

.myHeaderImg {
    max-width: 375px;
    border-radius: 12px 12px 0 0;
}

.myCard {
    grid-area: body;
    display: grid;
    grid-template-areas: "header"
                         "paragraph"
                         "user";
    gap: 1.5rem;
    margin-top: 4rem;
}

.myCardHeader {
    font-family: 'Manrope bold';
    font-size: 1.6rem;
    grid-area: header;
    color: var(--very-dark-grayish-blue);
    margin-inline: 4rem;
}

.myCardBody {
    grid-area: paragraph;
    max-width: 257px;
    line-height: 2rem;
    margin-inline: 4rem;
    margin-bottom: 2rem;
    color: var(--desaturated-dark-blue);
}

.infoContainer {
    position: relative;

}

.userInfo {
    display: flex;
    gap: 2rem;
    align-items: center;
    grid-area: user;
    
    margin-inline: 4rem;
    /* animate margin-bottom as well as opacity
    on click...do a slide animation that makes the info slide out right
    and appear underneath the share portion */
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
    transition: all 0.4s ease-out;
}

.fadeOut {
    opacity: 0;
    translate: 375px;
}

.profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.userData {
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.userName {
    font-family: 'Manrope bold';
    color: var(--very-dark-grayish-blue);
    font-size: 1.3rem;
}

.userDate {
    color: var(--grayish-blue);
}

.buttonContainer {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--light-grayish-blue);
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
}

.buttonContainer:hover {
    scale: 1.1;
}

.shareContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* Animate the padding-inline/block & max-height/overflow on click */
    width: 100%;
    background-color: var(--very-dark-grayish-blue);
    padding-inline: 4rem;
    padding-block: 2rem;
    border-radius: 0 0 12px 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    /* Control the element with opacity */
    opacity: 0;
    transition: all 0.2s ease-in;
}

.fadeIn {
    opacity: 1;
}

.share {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.5rem;
    color: var(--grayish-blue);
}

.shareIconContainer {
    display: flex;
    width: 100%;
    max-width: 100px;
    align-items: center;
    justify-content: space-between;
    margin-right: 3rem;
}

.facebookIcon {
    cursor: pointer;
    transition: scale 0.4s ease-in-out;
}

.facebookIcon:hover {
    scale: 1.2;
}

.twitterIcon {
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
}

.twitterIcon:hover {
    scale: 1.2;
}

.pinterestIcon {
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
}

.pinterestIcon:hover {
    scale: 1.2;
}

.invertedShareContainer {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--desaturated-dark-blue);
    transition: scale 0.2s ease-in-out;
}

.invertedShareContainer:hover {
    scale: 1.1;
}

.shareContainerButton {
    filter: brightness(0) invert(1);
}

@media screen and (min-width: 600px) {
    
    .myBody {
        max-width: 770px;
        grid-template-areas: "image body"
                             "image share";
        
    }
    
    .myHeaderDiv {
        border-radius: 8px 0 0 8px;
        width: 300px;
        height: 343px;
    }
    
    .myHeaderImg {
        border-radius: 8px 0 0 8px;
        height: 343px;
    }
    
    .myCardHeader {
        font-size: 2.2rem;
        line-height: 3.2rem;
        min-width: 370px;
    }

    .myCardHeader p {

    }
    
    .myCardBody {
        max-width: 46ch;
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .myCardBody p {
        line-height: 2.3rem;
    }
    
    .infoContainer {
        position: relative;
    
    }
    
    .userInfo {
        /* animate margin-bottom as well as opacity
        on click...do a slide animation that makes the info slide out right
        and appear underneath the share portion */
        position: relative;
        z-index: 2;
        transition: all 0.4s ease-out;
    }
    
    .fadeOut {
        opacity: unset;
        translate: unset;
    }
    
    .profilePic {
        width: 45px;
        height: 45px;
    }
    
    .userData {
        margin-right: 14.3rem;
        width: 100%;
        max-width: 15rem;
    }
    
    .userName {
        font-size: 1.4rem;
    }
    
    .buttonContainer {
        width: 100%;
        max-width: 35px;
        height: 35px;
        transition: scale 0.2s ease-in-out;
    }
    
    .buttonContainer:hover {
        scale: 1.1;
    }
    
    .shareContainer {
        /* Animate the padding-inline/block & max-height/overflow on click */
        width: 60%;
        padding-inline: unset;
        padding-block: 2rem;
        border-radius: 12px;
        justify-content: center;
        position: absolute;
        z-index: 1;
        bottom: 103px;
        /* Control the element with opacity */
        opacity: 0;
        right: -88px;
        transition: all 0.4s ease-in;
        border-bottom: 1px solid var(--very-dark-grayish-blue);
    }

    .shareContainer:after {
        content: '';
        width: 0;
        height: 0;
        margin: 0 11.1rem;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        border-top: 25px solid var(--very-dark-grayish-blue);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    
    .fadeIn {
        opacity: 1;
    }
    
    .share {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 1.5rem;
        color: var(--grayish-blue);
        cursor: pointer;
        transition: scale 0.2s ease-in-out;
    }

    .share:hover {
        scale: 1.1;        
    }
    
    .shareIconContainer {
        width: 100%;
        max-width: 100px;
        margin-right: unset;
    }
    
    .facebookIcon {
        cursor: pointer;
        transition: scale 0.4s ease-in-out;
    }
    
    .twitterIcon {
        cursor: pointer;
        transition: scale 0.2s ease-in-out;
    }
       
    .pinterestIcon {
        cursor: pointer;
        transition: scale 0.2s ease-in-out;
    }
    
    .invertedShareContainer {
        display: none;
    }

}